{%load static %}
<html>

<head>
    <title>Testimonials - Easy Tutorials</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script src="https://use.fontawesome.com/93d0f84c5d.js"></script>

</head>

<body onload="slider()">
    <div class = "navbar">
        <ul>
            <img src="{%static 'Logo/FUND-Z-logos_white.png'%}" height="100px" width="100px" style="padding: 20px;">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'education'%}">EDUCATION</a></li>
            <li><a href="{% url 'health' %}">HEALTH</a></li>
            <li><a href="{% url 'startup'%}">START-UP</a></li>
            <li><a href="{% url 'sports' %}">SPORTS</a></li>
        </ul>
    </div>
    <div class="hero-image">
        <img name="imgs" class = "hero1" width=100% height=700>
        <div class="hero-text">
            <h1 style="font-family:Verdana; color:ghostwhite;text-shadow: 0 0 2px rgb(0,0,0)">SPORTS</h1>
        </div>
      </div>
    <!--THis is for about uis -->
    <div class="about">
    <div class="card1">
		<div class="card1__inner">
			<div class="card1__face card1__face--front">
				<h2>Volleyball</h2>
			</div>
			<div class="card1__face card1__face--back">
				<div class="card1__content">
					<div class="card1__header">
						<img src="https://cdn.britannica.com/08/190908-131-A6B6D47D/Volleyball-match.jpg" alt="" class="pp" />
						<h2>Volleyball</h2>
					</div>
					<div class="card1__body">
						<h3>Domain Concentrated</h3>
						<p style="text-align: justify;">Volleyball is One of the <strong>Major Playing Game in India</strong>.This game is mostly played for fun but very few people play it as a Career Option. So those people who are taking volleyball as career option but are not having enough money for the game can contact us.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="card2">
		<div class="card2__inner">
			<div class="card2__face card2__face--front">
				<h2>Kabaddi</h2>
			</div>
			<div class="card2__face card2__face--back">
				<div class="card2__content">
					<div class="card2__header">
						<img src="https://cdn-images.spcafe.in/img/es3-cfill-w800-h400/articles/Kabaddi/Monu_Goyat_pp_PKL.jpg" alt="" class="pp" />
						<h2>Kabaddi
                        </h2>
					</div>
					<div class="card2__body">
						<h3>Domain Concentrated</h3>
						<p style="text-align: justify;">Kabaddi is the One of the <strong>Earliest Games played in india.</strong>Even though it didnt get enough recognition before , It is getting bigger in recent years. So those Kabbadi Players who are financially Small to afford the Neccesesities of the Game Can contact us for help.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="card3">
		<div class="card3__inner">
			<div class="card3__face card3__face--front">
				<h2>Hockey</h2>
			</div>
			<div class="card3__face card3__face--back">
				<div class="card3__content">
					<div class="card3__header">
						<img src="https://newsonair.com/wp-content/uploads/2021/09/Hockey_1.jpg" alt="" class="pp" />
						<h2>Hockey</h2>
					</div>
					<div class="card3__body">
						<h3>Domain Concentrated</h3>
						<p style="text-align: justify;">Hockey is <strong>National Game Of India.</strong> There are very few players who play hockey as Career Option. So those who are to play Hockey as their Career Option and are in Financially Bad Situation Can Contact us for further help.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>








    <!--THis is for about uis -->




    <!--THis is for donation  -->
    <div class="donation">
    <div class="d_col">
    <div class="modal">
        <img src="images/Education/hellen.jpg"  alt="">
        <div class="close"></div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="header">
               
                <div class="main">
                    <div class="image">
                        <img src="https://img.etimg.com/photo/msid-59007899,quality-100/.jpg" alt="" width="110" height="120">
                    </div>
                    <h3 class="name">Chinmay Chetapul</h3>
                    <h3 class="sub-name">ChinmayC@gmail.com</h3>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="about-container">
                        <h3 class="title">Reason</h3>
                        <p style = "text-align: justify;" class="text">Myself Chinamy , I have achieved a lot of state level achievements in the Volley Ball, I am willing to make my step ahead toward national level achievement, please help me to achieve my goals.Thanking you.</p>
                    </div>
                    <br>
                    <div class="buttons-wrap">
                        <div class="follow-wrap">
                            <a href="#" class="follow">Donate</a>
                        </div>
                        <div class="share-wrap">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                </div>

                <div class="right">
                 
                    <div>
                        <h3 class="number">90k</h3>
                        <h3 class="number-title">Required</h3>
                    </div>
                    <div>
                        <h3 class="number">32K</h3>
                        <h3 class="number-title">Donated</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <img src="" alt="">
        <div class="close"></div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="header">
                <div class="main">
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1623091410901-00e2d268901f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="" width="110" height="120">
                    </div>
                    <h3 class="name">Apporva K</h3>
                    <h3 class="sub-name">ApporvaK@gmail.com</h3>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="about-container">
                        <h3 class="title">Reason</h3>
                        <p class="text" style="text-align: justify;">I won many national level games in Kabaddi but my parents could not offer towards my international level thirst in games , please help me to achieve my dreams of winning international games with the INDIAN flag on my shoulders.Thanking you.</p>
                    </div>
              <br>
                    <div class="buttons-wrap">
                        <div class="follow-wrap">
                            <a href="{%url 'pay' %}" class="follow">Donate</a>
                        </div>
                        <div class="share-wrap">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                </div>

                <div class="right">
                 
                    <div>
                        <h3 class="number">100K</h3>
                        <h3 class="number-title">Required</h3>
                    </div>
                    <div>
                        <h3 class="number">44.4K</h3>
                        <h3 class="number-title">Donated</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="d_col">
    <div class="modal">
        <img src="images/profile.jpeg" alt="">
        <div class="close"></div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="header">
               
                <div class="main">
                    <div class="image">
                    </div>
                    <h3 class="name">Harshita kutamani</h3>
                    <h3 class="sub-name">HarshiKuta@gmail.com</h3>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="about-container">
                        <h3 class="title">Reason</h3>
                        <p class="text" style="text-align: justify;">Hoping that you all would help me , This is Harshitha i am currently studying 12th standard,got selected in state level gymanastic championship, i could not afford the proper gymanastic equipments for practice so with high hopes hoping that all would help me. Thanking you</p>
                    </div>
                    <br>
                    <div class="buttons-wrap">
                        <div class="follow-wrap">
                            <a href="{%url 'pay' %}" class="follow">Donate</a>
                        </div>
                        <div class="share-wrap">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                </div>

                <div class="right">
                 
                    <div>
                        <h3 class="number">23K</h3>
                        <h3 class="number-title">Required</h3>
                    </div>
                    <div>
                        <h3 class="number">10K</h3>
                        <h3 class="number-title">Donated</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <img src="" alt="">
        <div class="close"></div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="header">
               
                <div class="main">
                    <div class="image">
                        <img src="https://img.etimg.com/photo/msid-59007399,quality-100/.jpg" alt="" width="110" height="120">
                    </div>
                    <h3 class="name">Prathisk R</h3>
                    <h3 class="sub-name">@PrathiskR@gmail.com</h3>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="about-container">
                        <h3 class="title">Reason</h3>
                        <p class="text" style="text-align: justify;">Hi everyone,I am humbled to share you that i have been selected for the national level hockey championship , but due to my financial crisis i could not able to make the needs of the practice and even the expenses of the staying and getting neccessary kit , With lots of hope, hoping for the help</p>
                    </div>
                   <br>
                    <div class="buttons-wrap">
                        <div class="follow-wrap">
                            <a href="{%url 'pay' %}" class="follow">Donate</a>
                        </div>
                        <div class="share-wrap">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                </div>

                <div class="right">
                 
                    <div>
                        <h3 class="number">100K</h3>
                        <h3 class="number-title">Required</h3>
                    </div>
                    <div>
                        <h3 class="number">70K</h3>
                        <h3 class="number-title">Donated</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>





    <!--- This is for Voluenteers --->
    <div class=voluenteers>
    <figure class="snip0013">
        <img src="https://pbs.twimg.com/profile_images/1187423504766922752/7CLNW5MB_400x400.jpg" alt="sample32"/>
        <div>
            <a href="https://twitter.com/gosportsvoices?lang=en"><i class="ion-social-twitter left icon"></i></a>
            <a href="https://www.linkedin.com/company/gosports-foundation"><i class="ion-social-linkedin right-icon"></i></a>
        </div>			
    </figure>
    <figure class="snip0013">
        <img src="https://courseplay.co/wp-content/uploads/2020/12/MBA-1024.png" alt="sample33"/>
        <div>
            <a href="https://twitter.com/magicbusindia"><i class="ion-social-twitter left-icon"></i></a>
            <a href="https://www.linkedin.com/company/magic-bus"><i class="ion-social-linkedin right-icon"></i></a>
        </div>			
    </figure>
    <figure class="snip0013">
        <img src="https://www.oscar-foundation.org/wp-content/uploads/2019/11/LOGO-3.png" alt="sample34"/>
        <div>
            <a href="https://twitter.com/OSCAR_fdn"><i class="ion-social-twitter left-icon"></i></a>
            <a href="https://www.linkedin.com/company/oscarfoundation/"><i class="ion-social-linkedin right-icon"></i></a>
        </div>			
    </figure>
    </div>
    
    <!--- This is for testimonials --->

    <div class="container">
        <div class="veiw-box">
            <div id="testimonials">
                <div class="user">
                    <img src="images/Education/hellen.jpg" alt="">
                    <p>Alone we can do so little; together we can do so much</p>
                    <h3>Helen Keller</h3>
                </div>
                <div class="user space">
                    <img src="https://www.oxforddnb.com/doc/searchableMedia/odnb-9780198614128-e-1003973-graphic-1-full.jpg" alt="">
                    <p>The Smallest Act of Kindness is worth more than the grandest intention</p>
                    <h3>Oscar Wilde</h3>
                </div>
                <div class="user">
                    <img src="https://pbs.twimg.com/profile_images/788769192803721216/Itwj_xJJ.jpg" alt="">
                    <p>We Cant help everyone but everyone can help someone.</p>
                    <h3>Dr. Loretta Scott</h3>
                </div>
            </div>
            
            <div class="controls">
                <span id="control1"></span>
                <span id="control2" class="active"></span>
                <span id="control3"></span>
            </div>
            
        </div>
    </div>
    

<!--- This is for testimonials --->

<!--    This si sfor counter-->
<div class="test">
<div class="counter-up">
    <div class="content">
      <div class="box">
        <div class="icon"><i class="fa fa-history"></i></div>
        <div class="counter">9</div>
        <div class="text">Number of Donars</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-gift"></i></div>
        <div class="counter">5</div>
        <div class="text">Number of Donation Requests</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-users"></i></div>
        <div class="counter">2</div>
        <div class="text">Number of Completed Donations</div>
      </div>
     
    </div>
  </div>
  
</div>

<!--Thus is for counter-->
    <script>
        var slideimg = document.getElementById('imgs');
        var testimonials = document.getElementById('testimonials');
        var control1 = document.getElementById('control1');
        var control2 = document.getElementById('control2');
        var control3 = document.getElementById('control3');
        
        var i = 0;
        var time=2000;
        var images = ['https://www.sparkadmissions.com/wp-content/uploads/2016/11/sports.jpg','https://global-uploads.webflow.com/5ca5fe687e34be0992df1fbe/603e0db60ba9632e54f9a7ec_cricket_description.jpeg','https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/10/14/Pictures/ht-pune_2b558f76-0e0b-11eb-a443-af1dcd0e50a3.jpg','https://globalsportmatters.com/wp-content/uploads/2018/09/Kabaddi.jpg','https://img.olympicchannel.com/images/image/private/t_16-9_360-203_2x/f_auto/v1609257657/primary/an1nito2yxpfbutkpnr7','https://globalsportmatters.com/wp-content/uploads/2018/09/Kabaddi.jpg']

        function slider()
        {
            document.imgs.src = images[i];
            if(i<images.length-1)
            {
                i++
            }
            else
            {
                i=0
            }
            setTimeout('slider()',time)
        }

        window.onload = slider();

        control1.onclick=function(){
            testimonials.style.transform = "translateX(870px)";
            control1.classList.add("active");
            control2.classList.remove("active");
            control3.classList.remove("active");
        }
        
        control2.onclick=function(){
            testimonials.style.transform = "translateX(0px)";
            control1.classList.remove("active");
            control2.classList.add("active");
            control3.classList.remove("active");
        }
        
        control3.onclick=function(){
            testimonials.style.transform = "translateX(-870px)";
            control1.classList.remove("active");
            control2.classList.remove("active");
            control3.classList.add("active");
        }




const image = document.querySelector('.image');
const hover = document.querySelector('.hover');
const modal = document.querySelector('.modal');
const close = document.querySelector('.close');

function show(){
    hover.classList.add('active');
    modal.classList.add('show');
}

function hide(){
    hover.classList.remove('active');
    modal.classList.remove('show');
}

image.addEventListener('click', show);
close.addEventListener('click', hide);
        
        
        
const card1 = document.querySelector(".card1__inner");

card1.addEventListener("click", function (e) {
  card1.classList.toggle('is-flipped');
});
const card2 = document.querySelector(".card2__inner");

card2.addEventListener("click", function (e) {
  card2.classList.toggle('is-flipped');
});
const card3 = document.querySelector(".card3__inner");

card3.addEventListener("click", function (e) {
  card3.classList.toggle('is-flipped');
});


$(document).ready(function(){
    $('.counter').counterUp({
      delay: 10,
      time: 1200
    });
  });
    </script>      
    

</body>

</html>
